.Footer {
	display: flex;
	flex-direction: row;
	color-scheme: light dark;
	border-top: 2px solid #F4F3F2;
	padding: 1em 2em;
}

.site-info {
	display: flex;
	flex-direction: column;
}

.social-media-container {
	margin-left: auto;
}
