.Skills {
	display: flex;
	flex-direction: row;
	gap: 100px;
	margin-top: 4em;
}

.languages-container, .tools-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: start;
}

.container-header {
	font-weight: 700;
	margin-top: auto;
    margin-bottom: 0.4em;
}

.skills-card {
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin-right: auto;
}
